.axis path,
.axis line {
	stroke: grey;
	stroke-width: 1;
	fill: none;
}

line.mesh {
	stroke: #ddd;
	stroke-width: 4;
	fill: none;
}

path.cubic, path.quad, path.initial, path.advected {
	stroke-width: 2;
	fill: none;
}

path.initial {
	stroke: black;
	stroke-width: 2;
}

path.advected {
	stroke: steelblue;
}

path.cubic {
	stroke: steelblue;
	stroke-width: 6;
}

text.cubic {
	fill: steelblue;
}

path.quad {
	stroke: orangered;
}

text.quad {
	fill: orangered;
	text-anchor: end;
}

circle.current {
	fill: orangered;
	stroke: orangered;
	stroke-width: 4;
}

line.current {
	stroke: orangered;
	stroke-width: 4;
}

.central {
	fill: black;
	stroke: black;
	stroke-width: 3;
}

.peripheral {
	fill: white;
	stroke: black;
	stroke-width: 3;
}

#pointdump,
#weightdump {
	font-family: monospace;
	display: inline-block;
	border: 1px black solid;
	padding: 1em;
	width: 20em;
}

#pointdump:before {
	content: "# points";
}

#weightdump:before {
	content: "# weights";
}
